@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Main */

body {
    font-family: Poppins;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


/* Navbar Style */

header {
    background-image: linear-gradient( 359.8deg,  rgba(252,255,222,1) 2.2%, rgb(141, 241, 123) 99.3% );
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-left {
    padding: 0;
    font-family: poppins;
    font-style: italic;
    font-weight: 600;
}

.navbar-right {
    margin-right: 10px;
}

.navbar-left img {
    width: 60px;
    height: 70px;
}

.navbar-right a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #0061b1;
    background: rgb(75, 199, 59);
    border-radius: 6px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 16px;
    overflow: hidden;
    transition: 0.2s;
}

.navbar-right a:hover {
    color: #255784;
    background: #21f360;
    box-shadow: 0 0 10px #21f360, 0 0 40px #21f360, 0 0 80px #21f360;
    transition-delay: 1s;
}

a span {
    position: absolute;
    display: block;
}

a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}

a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(100deg, transparent, #2196f3);
}

a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}

a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}

a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


/* Blog Style */

#blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.blog-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-heading span {
    color: #aaf321;
    font-weight: 700;
    font-size: 18px;
}

.blog-heading h3 {
    font-size: 2.4rem;
    color: #2b2b2b;
    font-weight: 600;
}

.buscar {
    position: relative;
    padding: 5px;
}

.buscar input {
    width: 0px;
    height: 40px;
    padding: 0 20px;
    font-size: 16px;
    color: black;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
}

.btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #8BB497;
    color: antiquewhite;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
}

.buscar:hover input {
    width: 240px;
}

.buscar input:focus {
    width: 240px;
}

#categories {
    position: fixed;
    left: 1%;
    top: 55%;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#categories h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#categories ul {
    list-style: none;
}

#categories li {
    margin-bottom: 10px;
}

#categories a {
    text-decoration: none;
    color: #2196f3;
}

#categories a:hover {
    color: #7868e6;
}


/* Blog Container */

.blog-container {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
}

.blog-post {
    width: 350px;
    background-color: #ffffff98;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.118);
    border-radius: 12px;
    overflow: hidden;
    margin: 20px;
    cursor: pointer;
    transition: transform ease 300ms;
    color: #383737;
}

.blog-post:hover {
    box-shadow: 0 5px 20px rgb(6, 97, 202);
    transform: translate(0, -10px);
}

.blog-img {
    width: 100%;
    height: auto;
}

.blog-img img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

.blog-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.blog-text span {
    color: #493aaa;
    font-size: 0.9rem;
}

.blog-text .blog-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #272727;
}

.blog-text .blog-title:hover {
    color: #7868e6;
    transition: all ease 0.3s;
}

.blog-text p {
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}

.blog-text a {
    color: #0f0f0f;
}

.blog-text a:hover {
    color: #7868e6;
    transition: all ease 0.3s;
}

.blog-text .details {
    position: relative;
    display: inline-block;
    width: 40%;
    padding: 10px 10px;
    border-radius: 10px;
    color: #005eaa;
    background: #A4D4AF;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 14px;
    overflow: hidden;
    transition: 0.2s;
}

.blog-text .details:hover {
    color: #183752;
    font-weight: 600;
    background: #21f360;
    box-shadow: 0 0 10px #21f360, 0 0 40px #21f360, 0 0 80px #21f360;
    transition-delay: 1s;
}

.blog-text .details span {
    position: absolute;
    display: block;
}

.blog-text .details span:nth-child(4) {
    bottom: 100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #21f360);
}

.blog-text .details span:nth-child(4) {
    bottom: -100%;
    transition: 1s;
    transition-delay: 0.75s;
}


/* Estilo para la ventana emergente */

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    position: absolute;
    max-width: 80%;
    padding: 20px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    max-height: 80%;
}

.blog-post.expanded {
    width: 100%;
    /* Ajusta el tamaño de la tarjeta expandida según tus preferencias */
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.118);
    margin: 0;
    display: flex;
    flex-direction: column;
}

.popup .blog-post.expanded:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.118);
    transform: none;
}

.blog-post.expanded .blog-img {
    width: 100%;
    height: auto;
}

.blog-post.expanded .blog-text {
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.popup .author {
    color: #9b9b9b;
    font-size: 0.9rem;
}

.close {
    position: absolute;
    color: #fff;
    top: 10px;
    right: 30px;
    font-size: 34px;
    cursor: pointer;
}


/* Responsive */

@media (max-width: 1250px) {
    .blog-post {
        width: 300px;
    }
}

@media (max-width: 1100px) {
    .blog-post {
        width: 70%;
    }
}

@media (max-width: 550px) {
    .blog-post {
        margin: 20px 10px;
        width: 100%;
    }
    #blog {
        padding: 20px;
    }
}
