@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(Images/fondoL.avif);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.card{
    background-color: #8bc5ec56;
    background-image: linear-gradient(135deg, #2efc722f 0%, #9599e2a8 100%);
    border-radius: 10px;
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1.5); /* Sombra para resaltar el contenedor */
    font-weight: 500;
    
}


